.blogs-heading{
    line-height: 0px;
    margin-top: 90px;
}
.blogs-heading > p{
    color: #F7B614;
}
.blog-img{
    border-radius: 15px;
}
.blog-btn{
    width: 110px;
    height: 25px;
    border-radius: 999px;
    background-color: #F7B614;
    font-size: 11px;
}
.blog-desc{
    border-bottom: 1px dashed gray;
    color: gray;
}
.blog-publish{
    color: gray;
}
.blog-icon{
    color: #F7B614;
}
.side-card{
    background-color:#f2efe6;
    border-radius: 10px;
}
.side-blog-img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}