.testimonial-heading{
    line-height: 0px;
    margin-top: 90px;
}
.blog-quote-icon{
    color: #F7B614;
}
.testimonial-heading > p{
    color: #F7B614;
}
.testimonial-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.testimonial-job{
    color: #F7B614;
}